.mask{
  :global{
    .default{
      img{
        height: 300px;
        mask: linear-gradient(transparent, #fff);
      }
    }

    .cut{
      margin-top: 10px;
      img{
        height: 300px;
        mask: linear-gradient(135deg, transparent 15px, #fff 0) top left,
        linear-gradient(-135deg, transparent 15px, #fff 0) top right,
        linear-gradient(45deg, transparent 15px, #fff 0) bottom left,
        linear-gradient(-45deg, transparent 15px, #fff 0) bottom right;
        mask-repeat: no-repeat;
        mask-size: 50% 50%;
      }
    }

    .cover{
      width: 168px;
      height: 300px;
      background-image: url("../../../images/back3.JPG");
      background-size: cover;
      position: relative;
      @keyframes move {
        @for $i from 0 to 100 {
          #{$i}% {
            mask: linear-gradient(135deg, #000 #{$i + '%'}, transparent #{$i + 5 + '%'}, transparent 1%);
          }
        }
      }
      &::after :local{
        content: '';
        position: absolute;
        background-image: url("../../../images/back1.jpg");
        background-size: cover;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        animation: move 5s linear infinite;
      }
    }

    .rotate {
      width: 168px;
      height: 300px;
      background-image: url("../../../images/back3.JPG");
      background-size: cover;
      position: relative;
      @keyframes rotate {
        @for $i from 0 to 100 {
          #{$i}% {
            mask: linear-gradient(#{$i * 3.6}deg, #000 45%, transparent 55%);
          }
        }
      }
      &::after :local{
        content: '';
        position: absolute;
        background-image: url("../../../images/back1.jpg");
        background-size: cover;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        animation: rotate 5s ease-in-out backwards;
      }
    }

    .contrast-con{
      filter: contrast(5);

      .contrast{
        background-color: #fff;
        width: 1000px;
        height: 500px;
        position: relative;

        @keyframes circleMove {
          @for $i from 0 through 100 {
            #{$i}% {
              mask: repeating-radial-gradient(circle at 35% 65%, #000, rgba(0, 0, 0, .6), #000 #{$i / 3 + 10 + '%'});
              filter: hue-rotate(#{$i * 3.6 + 'deg'})
            }
          }
        }

        &::before :local{
          content: '';
          position: absolute;
          background-size: 20px 20px;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-image: radial-gradient(#000, transparent);

          //filter: hue-rotate(30deg);
          //mask: linear-gradient(-180deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, .3));
          //mask: repeating-radial-gradient(circle at 35% 65%, #000, rgba(0, 0, 0, .5), #000 25%);
          animation: circleMove 20s ease-in-out infinite alternate;

        }
      }
    }

    .mix{
      position: relative;
      width: 200px;
      height: 100px;
      background: linear-gradient(45deg, #f44336, #ff9800, #ffeb3b, #8bc34a, #00bcd4, #673ab7);
      .mix-inner{
        height: 100%;
        background-color: #000;
        filter: contrast(7);
        mix-blend-mode: multiply;
        &::after{
          top:0;
          right: 0;
          bottom: 0;
          left: 0;
          content: '';
          position: absolute;
          background: radial-gradient(#fff, transparent);
          background-size: 10px 10px;
          mask: linear-gradient(#000, rgba(0, 0, 0, .5));
        }
      }
    }

    .change-ani{
      margin-top: 50px;
      width: 168px;
      height: 300px;
      background-image: url("../../../images/back3.JPG");
      background-size: cover;
      position: relative;
      @keyframes back-move {
        from{
          mask-position: 0 0;
        }
        to{
          mask-position: 100% 0;
        }
      }
      .inner-img{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url("../../../images/back1.jpg");
        background-size: cover;
        mask: url(https://i.imgur.com/AYJuRke.png);
        mask-size: 3000% 100%;
        & :local{
          animation: back-move 2s steps(29) infinite;
        }
      }
    }
  }
}
