.cyberpunk{
  :global{
    .container{
      width: 260px;
      height: 90px;
      text-align: center;
      font-size: 22px;
      line-height: 90px;
      color: rgb(255, 251, 251);
      background: linear-gradient(30deg, transparent 10%, rgb(255, 136, 0) 10% 95%, rgb(0, 255, 149) 95%);
      box-shadow: 5px 0 0 rgb(0, 204, 255);
      cursor: pointer;
      position: relative;

      @keyframes hoverAni {
        0% {
          clip-path: inset(20% -5px 60% 0);
          transform: translate(-6px, 5px);
          visibility: visible;
        }
        10% {
          clip-path: inset(80% -5px 0 0px);
          transform: translate(-10px, -5px);
        }
        20% {
          clip-path: inset(60% -5px 80%, 0);
          transform: translate(7px, 5px);
        }
        30% {
          clip-path: inset(10% 0px 30% 5px);
          transform: translate(-3px, -5px);
        }
        40% {
          clip-path: inset(49% 0 44% -5px);
          transform: translate(6px, -5px);
        }
        50% {
          clip-path: inset(55% -5px 36% 0px);
          transform: translate(-6px, -5px);
        }
        60% {
          clip-path: inset(90% -5px 0 0);
          transform: translate(-10px, -7px);
        }
        70% {
          clip-path: inset(10% -5px 80% 0);
          transform: translate(-5px, 6px);
        }
        80% {
          clip-path: inset(0 -5px 90% 0);
          transform: translate(5px, 2px);
        }
        90% {
          clip-path: inset(48% -5px 44% 0);
          transform: translate(3px, -4px);
        }
        100% {
          clip-path: inset(50% -5px 40% 0);
          transform: translate(5px, 6px);
        }
      }

      &:hover::after:local{
        animation: hoverAni 1s;
        animation-timing-function: steps(1, end);
      }

      &::after{
        content: 'Aurora Borealis night';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        color: rgb(255, 251, 251);
        background: linear-gradient(30deg, transparent 10%, rgb(255, 136, 0) 10% 95%, rgb(0, 255, 149) 95%);
        box-shadow: 5px 0 0 rgb(0, 204, 255);

        text-shadow: -5px -2px 0 rgb(0, 183, 255),
        5px 2px 0 rgb(0, 255, 115);
        visibility: hidden;
      }
    }

    .tiktok-con{
      .tiktok{
        position: relative;
        height: 600px;
        background-color: #000;
        .part1{
          position: absolute;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          top: 300px;
          left: calc(50% - 50px);
          background: conic-gradient(transparent, transparent 25%, #24f6f0 25%, #24f6f0);
          mask: radial-gradient(circle at center center, transparent, transparent 20px, #000 20px, #000);
          &.mix{
            background: conic-gradient(transparent, transparent 25%, #fe2d52 25%, #fe2d52);
            mix-blend-mode: lighten;
            transform: translate(5px, 5px);
          }
        }
        .part2{
          position: absolute;
          width: 30px;
          height: 100px;
          background-color: #24f6f0;
          top: 250px;
          left: calc(50% + 20px);
          &.mix{
            background-color: #fe2d52;
            mix-blend-mode: lighten;
            transform: translate(5px, 5px);
          }
        }
        .part3{
          position: absolute;
          width: 100px;
          height: 100px;
          top: 200px;
          left: calc(50% + 20px);
          border-radius: 50%;
          mask: radial-gradient(circle at center center, transparent, transparent 20px, #000 20px, #000);
          background: conic-gradient(transparent, transparent 50%, #24f6f0 50%, #24f6f0, #24f6f0 75%, transparent 75%, transparent);
          &.mix{
            background: conic-gradient(transparent, transparent 50%, #fe2d52 50%, #fe2d52, #fe2d52 75%, transparent 75%, transparent);
            mix-blend-mode: lighten;
            transform: translate(5px, 5px);
          }
        }
      }
    }
  }
}
