.backUnderline{
  :global{
    .under-line{
      a{
        cursor: pointer;
      }
      .under-line-1{
        background: linear-gradient(90deg, #abcdef, #abcdef) no-repeat 0 100%;
        background-size: 100% 2px;
      }
      .under-line-2{
        background: linear-gradient(90deg, #abcdef, #abcdef 4px, transparent 4px, transparent 6px) repeat-x 0 100%;
        background-size: 6px 2px;
        color: #abcdef;
      }
      .under-line-3{
        color: #58a6ff;
        background: linear-gradient(90deg, #ff3c41, #fc0, #0ebeff) no-repeat 100% 100%;
        background-size: 0 2px;
        transition: all 2s;
        &:hover{
          background-size: 100% 2px;
          color: #000;
        }
      }
      .under-line-4{
        color: #58a6ff;
        background: linear-gradient(90deg, #ff3c41, #fc0, #0ebeff) no-repeat 0 100%,
                    linear-gradient(90deg, #abcdef, #abcdef) no-repeat 0 100%;
        background-size: 0 2px, 100% 2px;
        transition: all 2s;
        &:hover{
          background-size: 100% 2px, 100% 2px;
          color: #000;
        }
      }

      .under-line-5{
        background: linear-gradient(90deg, #fc0, #fc0) no-repeat;
        background-size: 0 100%;
        transition: all 2s;
        background-clip: text;
        &:hover{
          background-size: 100% 100%;
          color: transparent;
        }
      }
    }

    .button{
      width: 100px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover + .button-text{
        background-size: 100% 100%;
      }
    }

    .button-text{
      color: transparent;
      transition: all 3s;
      display: inline;
      background: linear-gradient(90deg, #abcdef, #abcdef) no-repeat;
      background-size: 0 100%;
      background-clip: text;
    }

    .single-text-hide a{
      mask: linear-gradient(-90deg, transparent, transparent 2%, #000 40%, #000);
    }

    .long-text-hide{
      mask: linear-gradient(270deg, transparent, transparent 30%, #000),
            linear-gradient(270deg, #000, #000);
      mask-size: 100% 25px, 100% calc(100% - 25px);
      mask-position: bottom, top;
      mask-repeat: no-repeat;
    }

    li {
      color: #000;
      transition: .2s all;
    }
    li:hover {
      color: #ff6000;
    }
    li::marker {
      content: '😩';
    }
    li:hover::marker {
      content: '😁';
    }

    h1 {
      display: list-item;
      padding-left: 8px;
    }
    h1::marker {
      content: '▍';
    }
    h1:nth-child(2)::marker {
      content: '😅';
    }
  }
}
