.cursor{
  :global{
    .text-con{
      font-weight: bolder;
      font-size: 48px;
      cursor: none;
      position: relative;
      .dot{
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #000;
        top: 0;
        left: 0;
        mix-blend-mode: difference;
      }
    }
  }
}
