.borderAni{
  :global{
    .fake-border{
      width: 200px;
      height: 100px;
      border: 1px solid #2299dd;
      position: relative;
      cursor: pointer;
      &::before, &::after{
        position: absolute;
        border: 1px solid #2299dd;
        width: 15px;
        height: 15px;
        z-index: -1;
        content: '';
        transition: height ease-in-out .3s, width ease-in-out .3s;
      }

      &::before{
        border-bottom-color: transparent;
        border-right-color: transparent;
        top: -5px;
        left: -5px;
      }

      &::after{
        border-top-color: transparent;
        border-left-color: transparent;
        bottom: -5px;
        right: -5px;
      }

      &:hover::before, &:hover::after {
        width: calc(100% + 8px);
        height: calc(100% + 8px);
      }
    }

    @keyframes fake-border-move {
      to{
        background-position: 4px 0, 0 -4px, 100% 4px, -4px 100%;
      }
    }
    .dashed{
      margin-top: 30px;
      width: 300px;
      height: 100px;

      outline: 1px solid #333;
      outline-offset: -1px;

      &:hover :local{
        background: linear-gradient(90deg, transparent 50%, #000 50%) repeat-x top left,
        linear-gradient(180deg, transparent 50%, #000 50%) repeat-y top left,
        linear-gradient(180deg, transparent 50%, #000 50%) repeat-y top right,
        linear-gradient(90deg, transparent 50%, #000 50%) repeat-x bottom left;
        background-size: 4px 1px, 1px 4px, 1px 4px, 4px 1px;
        cursor: pointer;

        outline: none;
        animation: fake-border-move linear .3s infinite;
      }
    }

    @keyframes rotate-move {
      to{
        transform: rotateZ(360deg);
      }
    }
    .rotate-box{
      margin-top: 100px;
      width: 200px;
      height: 200px;
      position: relative;
      overflow: hidden;
      border-radius: 6px;

      &::after{
        position: absolute;
        width: 200%;
        height: 200%;
        content: '';
        top: -50%;
        left: -50%;
        overflow: hidden;
        background: linear-gradient(#399953, #399953) 0 0,
        linear-gradient(#fbb300, #fbb300) 0 100%,
        linear-gradient(#d53e33, #d53e33) 100% 100%,
        linear-gradient(#377af5, #377af5) 100% 0;
        background-size: 50% 50%;
        background-repeat: no-repeat;
        & :local{
          animation: rotate-move linear 3s infinite;
        }
      }

      &::before{
        position: absolute;
        width: 98%;
        height: 98%;
        top: 1%;
        left: 1%;
        background-color: #fff;
        z-index: 2;
        content: '';
        border-radius: 6px;
      }
    }

    .conic-box{
      position: relative;
      width: 200px;
      height: 200px;
      margin-top: 100px;
      overflow: hidden;
      background-color: #2664a8;
      &::after{
        position: absolute;
        content: '';
        width: 300%;
        height: 300%;
        top: -100%;
        left: -100%;
        background: conic-gradient(transparent, rgba(168, 239, 255, 1), transparent 30%);
        & :local{
          animation: rotate-move linear 4s infinite;
        }
      }
      &::before{
        position: absolute;
        width: 96%;
        height: 96%;
        top: 2%;
        left: 2%;
        background-color: #fff;
        content: '';
        z-index: 10;
      }
    }

    @keyframes clip-path-border {
      from {
        clip-path: inset(0 0 95% 0);
      }
      25% {
        clip-path: inset(0 0 0 95%);
      }
      50% {
        clip-path: inset(95% 0 0 0);
      }
      75% {
        clip-path: inset(0 95% 0 0);
      }
      to {
        clip-path: inset(0 0 95% 0);
      }
    }
    .clip-path-box :local{
      width: 200px;
      height: 100px;
      margin-top: 100px;
      border: 3px solid #f2cc60;
      border-radius: 4px;
      box-sizing: border-box;
      animation: clip-path-border infinite 3s linear;
    }

    .button-box{
      width: 150px;
      height: 100px;
      margin: 100px 0;
      border-radius: 24px;
      background-color: #ffd8b5;
      color: #fff;
      font-size: 24px;
      font-weight: bolder;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color ease-in-out .3s;
      cursor: pointer;
      position: relative;
      &:hover{
        background-color: #ffa657;
      }

      &:hover::before, &:hover::after {
        border-color: #ffa657;
      }

      &::before, &::after{
        width: 120%;
        height: 120%;
        top: -10%;
        left: -10%;
        border-radius: 24px;
        border: 3px solid #ffd8b5;
        content: '';
        position: absolute;
        box-sizing: border-box;
        transition: background-color ease-in-out .3s;
      }
      @keyframes clip-path-border-reverse {
        from {
          clip-path: inset(95% 0 0 0);
        }
        25% {
          clip-path: inset(0 95% 0 0);
        }
        50% {
          clip-path: inset(0 0 95% 0);
        }
        75% {
          clip-path: inset(0 0 0 95%);
        }
        to {
          clip-path: inset(95% 0 0 0);
        }
      }
      &::before :local{
        animation: clip-path-border linear 4s infinite;
      }
      &::after :local{
        animation: clip-path-border-reverse linear 4s infinite;
      }
    }

    .transform-button-con{
      background-color: #399953;
      padding: 40px;
      .transform-button{
        width: 200px;
        height: 100px;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
        &::before{
          content: 'button';
          width: 96%;
          height: 96%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #399953;
          border: 2px solid #399953;
          background-color: #fff;
          position: absolute;
          top: 2%;
          left: 2%;
          z-index: 2;
          box-sizing: border-box;
          border-radius: 10px;
        }
        &::after{
          position: absolute;
          transition: transform linear .3s;
          width: 120%;
          height: 120%;
          background-color: #fff;
          content: '';
          left: -10px;
          bottom: -10px;
          z-index: 1;
          transform-origin: bottom left;
          transform: rotateZ(-90deg);
        }
        &:hover::after{
          transform: rotateZ(0deg);
        }
      }
    }

    @keyframes hue-rotate-ani {
      from{
        filter: hue-rotate(0deg);
      }
      to{
        filter: hue-rotate(360deg);
      }
    }
    .hue-rotate :local{
      margin-top: 100px;
      width: 200px;
      height: 100px;
      border: 10px solid;
      border-image: linear-gradient(45deg, gold, deeppink) 1;
      clip-path: inset(0px round 10px);
      filter: hue-rotate(360deg);
      animation: hue-rotate-ani linear 3s infinite;
    }

    @keyframes conic-gradient-move {
      @for $i from 1 to 100 {
        #{$i + '%'} {
          background: conic-gradient(from #{$i * 3.6 + 'deg'}, hsl(162, 100%, 58%), hsl(270, 73%, 53%), hsl(162, 100%, 58%));
        }
      }
    }
    .triangle-con{
      filter: drop-shadow(0 0 1px hsl(162deg, 100%, 58%)) drop-shadow(0 0 4px hsl(270deg, 73%, 53%));
      .triangle{
        margin-top: 100px;
        width: 200px;
        height: 200px;
        background: conic-gradient(from 0deg, hsl(162, 100%, 58%), hsl(270, 73%, 53%), hsl(162, 100%, 58%));
        clip-path: polygon(50% 20%, 20% 80%, 22% 80%, 50% 24%, 77% 78%, 21% 78%, 21% 80%, 80% 80%, 50% 20%);
        & :local{
          animation: conic-gradient-move 4s linear infinite;
        }
      }
    }
  }
}
