.water{
  background-color: #3F51B5;
  :global{
    @keyframes move{
      25%{
        border-right: 32% 68% 34% 66% / 44% 18% 82% 56%   ;
      }
      50%{
        border-radius:38% 62% 21% 79% / 56% 59% 41% 44%   ;
      }
      100%{
        border-radius: 42% 58% 66% 34% / 38% 82% 18% 62%   ;
      }
    }
    .droplet:local{
      width: 300px;
      height: 300px;
      border-radius: 42% 58% 77% 23% / 40% 31% 69% 60% ;
      /* 绘制出水滴阴影效果 */
      box-shadow: inset 10px 20px 30px rgba(0,0,0,0.5),
      10px 10px 20px rgba(0,0,0,0.3),
      15px 20px 30px rgba(0,0,0,0.05),
      inset -10px -10px 15px rgba(255,255,255,0.8);
      animation: move 4s linear infinite alternate;
    }
  }
}
