.rotate{
  :global{
    @keyframes rotate {
      to {
        transform: rotateZ(360deg);
      }
    }

    @keyframes rotateReverse {
      from{
        transform: rotateX(0) rotateZ(0);
      }
      50% {
        transform: rotateX(40deg) rotateZ(-180deg);
      }
      to {
        transform: rotateX(0) rotateZ(-360deg);
      }
    }

    .container{
      width: 100px;
      height: 100px;
      transform-style: preserve-3d;
      perspective: 100px;
      & :local{
        animation: rotate linear 4s infinite;
      }
      .box :local{
        animation: rotateReverse linear 4s infinite;
        background-color: #58a6ff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }
    }

    .mouse-rotate-con{
      transform-style: preserve-3d;
      perspective: 500px;
      height: 500px;
      border: 1px solid #f3f3f3;
      display: flex;
      justify-content: center;
      align-items: center;
      .mouse-rotate{
        width: 100px;
        height: 100px;
        background-color: #2299dd;
        transition: transform ease .1s;
      }
    }
  }
}
