.container{
  :global{
    .g-container{
      width: 300px;
      height: 100px;
      position: relative;

      &::before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        background: radial-gradient(circle at 50% -10px, transparent 0, transparent 60px, #000 60px, #000);
      }
      .g-content{
        height: 100px;
        filter: contrast(20);
        background-color: #fff;
        overflow: hidden;
        .g-filter{
          filter: blur(10px);
          height: 100px;
          background: radial-gradient(circle at 50% -10px, transparent 0, transparent 39px, #000 40px, #000);
        }
      }
    }

    .hover-con{
      .button{
        width: 100px;
        height: 50px;
        background-color: cadetblue;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
          transition: filter 300ms;
          filter: contrast(110%) brightness(1.1);
        }
      }
    }

    .blur-img{
      position: relative;
      background: url("../../../images/person.jpeg");
      background-size: contain;
      width: 100px;
      height: 100px;
      &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: inherit;
        background-size: contain;
        z-index: -1;
        top: 10%;
        filter: blur(10px) brightness(80%) opacity(80%);
      }
    }

    .mix-con{
      width: 300px;
      height: 200px;
      filter: contrast(20);
      position: relative;
      background-color: #fff;
      .blur1 :local{
        filter: blur(5px);
        border-radius: 50%;
        border: 40px solid #3F51B5;
        position: absolute;
        top: calc(50% - 40px);
        left: 100px;
        animation: filterBallMove 4s ease-in-out infinite;
      }

      .blur2 :local{
        filter: blur(5px);
        border-radius: 50%;
        border: 20px solid #333;
        position: absolute;
        top: calc(50% - 20px);
        left: 220px;
        animation: filterBallMove1 4s ease-in-out infinite;
      }
    }

    .word-con{
      width: 300px;
      height: 100px;
      background-color: #000;
      position: relative;
      overflow: hidden;
      filter: contrast(20);

      @keyframes word-change {
        0% {
          letter-spacing: -2.2rem;
          filter: blur(.3rem);
        }
        50% {
          filter: blur(.5rem);
        }
        100% {
          letter-spacing: .5rem;
          filter: blur(0rem);
          color: #fff;
        }
      }
      .word :local{
        font-weight: bold;
        font-size: 20px;
        color: #fff;
        text-transform: uppercase;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        letter-spacing: -2.2rem;
        animation: word-change 5s infinite alternate ease-in-out;
      }
    }

    .wave-con{
      width: 300px;
      height: 100px;
      overflow: hidden;
      background-color: #ffffff;
      filter: contrast(20);
      position: relative;
      &::after{
        content: '';
        display: block;
        width: 100%;
        height: 20px;
        position: absolute;
        bottom: 0;
        background-color: #000;
      }
      .wave{
        filter: blur(10px);
        width: 100%;
        height: 100%;
        background: radial-gradient(circle at 20px 0, transparent, transparent 20px,#000 21px, #000 40px);
        background-size: 80px 100%;
      }
    }

    .g-container-1 {
      position: relative;
      width: 380px;
      padding-top: 100px;
      filter: contrast(20);
      background-color: #fff;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        backdrop-filter: blur(10px);
        z-index: 1;
      }
    }
    .g-inner-1 {
      position: relative;
      width: 380px;
      height: 100px;
      background: radial-gradient(circle at 20px 0, transparent, transparent 20px, #000 21px, #000 40px);
      background-size: 80px 100%;
    }
  }
}

@keyframes filterBallMove {
  50% {
    left: 140px;
  }
}

@keyframes filterBallMove1 {
  50% {
    left: 100px;
  }
}

