.counter{
  :global{
    .count{
      li{
        counter-increment: count;
        &::before{
          content: counter(count);
        }
        &:nth-of-type(3n)::before{
          content: 'fizz';
        }
        &:nth-of-type(5n)::before{
          content: 'buzz';
        }
        &:nth-of-type(15n)::before{
          content: 'fizzbuzz';
        }
      }
    }
    .back{
      ul{
        width: 200px;
        padding: 0;
        font-size: 0;
        li{
          width: 40px;
          height: 40px;
          list-style: unset;
          display: inline-block;
          background-color: cornflowerblue;
          &:nth-of-type(3n) {
            background-color: #7ee787;
          }
          &:nth-of-type(2n) {
            background-color: #f2cc60;
          }
          &:nth-of-type(6n) {
            background-color: thistle;
          }
        }
      }
    }
  }
}
