$bgColor: #2d2da4;
@property --per{
  syntax: '<percentage>';
  inherits: false;
  initial-value: 100%;
}

.cssEffects{
  :global{
    .dot-ani{
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      $colors: #7ef9ff, #89cff0, #4682b4, #0f52ba, #000080;
      background-color: #333;
      
      @keyframes dot-ani-move {
        50%,
        75% {
          transform: scale(2.5);
        }

        80%,
        100% {
          opacity: 0;
        }
      }
      .dot{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        flex-shrink: 0;
        margin-right: 20px;
        @for $i from 1 to 6 {
          &:nth-of-type(#{$i}) {
            background-color: nth($colors, $i);
            position: relative;
            &::before{
              background-color: nth($colors, $i);
              width: 100%;
              height: 100%;
              position: absolute;
              content: '';
              border-radius: 50%;
              &:local{
                animation: dot-ani-move infinite ease 4s;
                animation-delay: $i * 0.2s;
              }
            }
          }
        }
      }
    }

    .text-ani{
      height: 400px;
      background-image: linear-gradient(rgba(0,0,0, .8), rgba(0,0,0, .8)),
      url("https://i.loli.net/2019/10/18/buDT4YS6zUMfHst.jpg");
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bolder;
      flex-wrap: wrap;
      padding: 0 20px;
      word-break: break-all;
      @keyframes text-ani-move {
        to{
          color: #fff;
          transform: translateY(0);
        }
      }
      span{
        color: transparent;
        transform: translateY(-10px);
        &:local{
          animation: text-ani-move 2s ease forwards;
        }
      }
    }

    .to-do-list{
      margin-top: 100px;
      width: 300px;
      height: 500px;
      background-color: #0a3069;
      box-sizing: border-box;
      padding: 35px 15px;
      position: relative;
      .title{
        position: absolute;
        padding: 4px 6px;
        background-color: #3F51B5;
        color: #fff;
        top: 0;
        left: 20px;
        transform: translateY(-50%);
      }
      .to-do-con{
        .to-do-item{
          margin-bottom: 10px;
          label{
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;
            input{
              appearance: none;
              &:checked + .check-icon{
                height: 10px;
                border-top-color: transparent;
                border-right-color: transparent;
                transform: rotate(-45deg);
              }

              &:checked ~span {
                color: #57606a;
                &::before{
                  transform: scaleX(1);
                  transform-origin: left;
                }
              }
            }
            .check-icon{
              width: 20px;
              height: 20px;
              border: 1px solid #fff;
              margin-right: 5px;
              transition: all .2s ease;
            }
            span{
              color: #fff;
              transition: all .2s ease;
              position: relative;
              &::before{
                position: absolute;
                content: '';
                width: 100%;
                height: 1px;
                background-color: #fff;
                top: 50%;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform ease-in-out .2s;
              }
            }
          }
        }
      }
    }

    .radius-menu-con{
      height: 400px;
      background: #2299dd;
      display: flex;
      align-items: center;
      justify-content: center;
      .radius-menu{
        width: 420px;
        height: 100px;
        background: #fff;
        border-radius: 20px 20px 75px 75px;
        border: 20px solid #fff;
        overflow: hidden;
        display: flex;
        position: relative;
        cursor: pointer;
        .mask{
          position: absolute;
          background-color: #abcdef;
          border-radius: 15px;
          width: 120px;
          height: 100%;
          z-index: 0;
          transition: left ease .2s;
        }
        .menu-item{
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          width: 100px;
          transition: all ease-in-out .2s;
          position: relative;
          flex-shrink: 0;
          .icon{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #2299dd;
          }
          .text{
            font-size: 0;
            opacity: 0;
            transition: all ease-in-out .2s;
          }
          &.active{
            width: 120px;
            .text{
              font-size: inherit;
              opacity: 1;
            }
          }
        }
      }
    }

    .inset-box-shadow{
      height: 200px;
      background-color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      .moon{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 3px 2px 3px #cf222e inset;
        filter: blur(1px);
      }
    }

    .milk-con{
      height: 300px;
      background-color: #000;
      filter: blur(5px) contrast(20);
      display: flex;
      align-items: center;
      justify-content: center;
      .milk-box{
        display: flex;
        width: 200px;
        flex-wrap: wrap;
        .milk{
          width: 20px;
          height: 20px;
          background-color: #fff;
          transform: scale(1);
          transition: 30s cubic-bezier(0.19, 1, 0.22, 1);
          border-radius: 100%;
          &:hover{
            transform: scale(0);
            transition-duration: 0.3s;
          }
        }
      }
    }

    .glass-con{
      height: 200px;
      background-image: url("../../../images/back4.JPG");
      background-size: cover;
      background-position: center center;
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      .glass{
        width: 300px;
        height: 100px;
        background-color: rgba(255,255,255, .3);
        backdrop-filter: blur(6px);
        line-height: 100px;
        font-weight: bolder;
        font-size: 24px;
        text-align: center;
        color: #fff;
      }
    }

    .text-background{
      height: 100px;
      font-weight: bolder;
      font-size: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: transparent;
      background-image: url("../../../images/back1.jpg");
      background-size: cover;
      background-position: center center;
      background-clip: text;
    }
  }
}
