.mix{
  :global{
    .code{
      position: relative;
      width: 100px;
      height: 100px;
      img{
        width: 100%;
      }
      &::before{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(45deg, #673ab7, #ff5722);
        mix-blend-mode: lighten;
        content: '';
      }
    }
    .code1{
      position: relative;
      width: 100px;
      height: 100px;
      margin-top: 20px;
      img{
        width: 100%;
      }
      &::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(45deg, #673ab7, #ff5722);
        clip-path: polygon(0 0, 0 100%, 37% 100%, 37% 37%, 62% 37%, 62% 62%, 37% 62%, 37% 100%, 100% 100%, 100% 0);
        mix-blend-mode: lighten;
      }
    }
    .radio-mask{
      width: 100px;
      height: 100px;
      background-image: linear-gradient(45deg, #673ab7, #ff5722);
      mask: radial-gradient(transparent 15px, #fff 16px, #fff);
    }

    .square-mask{
      width: 100px;
      height: 100px;
      background-image: linear-gradient(45deg, #673ab7, #ff5722);
      clip-path: polygon(0 0, 0 100%, 33% 100%, 33% 33%, 66% 33%, 66% 66%, 33% 66%, 33% 100%, 100% 100%, 100% 0);
    }
  }
}
