.mix{
  :global{
    .code{
      position: relative;
      width: 100px;
      height: 100px;
      img{
        width: 100%;
      }
      &::before{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(45deg, #673ab7, #ff5722);
        mix-blend-mode: lighten;
        content: '';
      }
    }
    .code1{
      position: relative;
      width: 100px;
      height: 100px;
      margin-top: 20px;
      img{
        width: 100%;
      }
      &::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(45deg, #673ab7, #ff5722);
        clip-path: polygon(0 0, 0 100%, 37% 100%, 37% 37%, 62% 37%, 62% 62%, 37% 62%, 37% 100%, 100% 100%, 100% 0);
        mix-blend-mode: lighten;
      }
    }
    .radio-mask{
      width: 100px;
      height: 100px;
      background-image: linear-gradient(45deg, #673ab7, #ff5722);
      mask: radial-gradient(transparent 15px, #fff 16px, #fff);
    }

    .square-mask{
      width: 100px;
      height: 100px;
      background-image: linear-gradient(45deg, #673ab7, #ff5722);
      clip-path: polygon(0 0, 0 100%, 33% 100%, 33% 33%, 66% 33%, 66% 66%, 33% 66%, 33% 100%, 100% 100%, 100% 0);
    }
    .cat{
      background: #000;
      width: 100px;
      height: 100px;
      mask:
              url('../../../images/cat.png'),
              linear-gradient(#fff, #000);
      mask-composite: exclude;
    }

    .ikun{
      height: 100px;
      width: 150px;
      background: url("https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg3.doubanio.com%2Fview%2Fgroup_topic%2Fraw%2Fpublic%2Fp106878681.jpg&refer=http%3A%2F%2Fimg3.doubanio.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1671271180&t=13308088bbee45f06884269b6fea239b"), #0ff;
      background-size: cover;
      background-blend-mode: lighten;
      position: relative;
      &::after{
        position: absolute;
        content: '';
        display: block;
        width: 150px;
        height: 100px;
        background: url("https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg3.doubanio.com%2Fview%2Fgroup_topic%2Fraw%2Fpublic%2Fp106878681.jpg&refer=http%3A%2F%2Fimg3.doubanio.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1671271180&t=13308088bbee45f06884269b6fea239b"), #f00;
        background-size: cover;
        background-blend-mode: lighten;
        mix-blend-mode: darken;
        left: 5px;
      }
    }
  }
}
