.oneDiv{
  :global{
    .heart{
      margin-top: 100px;
      width: 100px;
      height: 100px;
      transform: rotate(45deg);
      background-color: #cf222e;
      position: relative;
      &::before, &::after{
        position: absolute;
        content: '';
        border-radius: 50%;
        width: 100px;
        height: 100px;
        background-color: inherit;
      }
      &::before{
        top: -50%;
      }
      &::after{
        right: 50%;
      }
    }
    .taiji{
      width: 200px;
      height: 200px;
      margin-top: 100px;
      border-radius: 50%;
      background:
        radial-gradient(circle at center 50px, #fff, #fff 10px, #000 10px, #000 50px, transparent 50px, transparent) no-repeat,
        radial-gradient(circle at center 50px, #000, #000 10px, #fff 10px, #fff 50px, transparent 50px, transparent) no-repeat,
        linear-gradient(90deg, #fff, #fff 50%, #000 50%, #000);
      background-size: 100px 100px, 100px 100px, 100% 100%;
      background-position: 50px 0, 50px 100px, 0 0;
    }
    .cloud{
      margin-top: 100px;
      width:100px;
      height:100px;
      background: #999999;
      border-radius:50%;
      box-shadow:
              120px 0px 0 -10px #999999,
              95px 20px 0 0px #999999,
              30px 30px 0 -10px #999999,
              90px -20px 0 0px #999999,
              40px -40px 0 0px #999999;
    }
    .dun{
      margin-top: 100px;
      width: 200px;
      height: 200px;
      background: radial-gradient(circle at center center, #0080ff, #0080ff 20px,
              #bc0423 20px, #bc0423 40px,
              #fff 40px, #fff 60px,
              #bc0423 60px, #bc0423 80px,
              transparent 80px, transparent);
      position: relative;
      &::before{
        position: absolute;
        content: '★';
        color: #fff;
        top: 50%;
        left: 50%;
        font-size: 32px;
        transform: translate(-50%, -50%);
      }
    }
  }
}
